@charset "UTF-8";

/*-----------------共通スタイル---------------*/
.clearfix::after{
  display: block;
  content: "";
  clear: both;
}

.inner{
  width: 1100px;
  margin: 0 auto;
}

.section_title{
  font-size: 24px;
}

.body{
  font-family: "Lato";
}

.title_font{
  font-family: "Raleway"
}
/*---------------ボタンの設定--------------*/
.contact_btn{
  transition: 0.3s;
  font-size: 12px;
  color: white;
  background-color: #74cfae;
  /*この指定がないとデフォルト指定（下線）がついたまま*/
  text-decoration: none;
}
.contact_btn:hover{
  color: #333;
}
.header-inner .contact_btn{
  padding: 14px 12px;
  float: right;
}

.our-work-inner .contact_btn{
  padding: 14px 20px;
  display: inline-block;
  float: left;
}
/*-----------------ここからヘッダー---------------*/
.header{
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 100;
}

.header-inner{
  padding: 15px 0px;
}

.fa-bolt{
  font-size: 36px;
  float: left;
  opacity: 0.5;
}

.humberger{
  padding: 10px;
  color:  #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: right;
  display: none;
}
/*-----------------ここまでヘッダー---------------*/
/*-----------------ここからメイン---------------*/
.main{
  padding-top: 70px;
}

.theme{
  background-color: #f2f2f2;
}

.theme-inner{
  padding: 250px 0px;
  text-align: center;
}

.theme_title{
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.theme_subtitle{
  font-size: 30px;
  color: #c0c0c0;
}

.sp{
  display: none;
}
/*-----------------ここまでthema---------------*/

.message{
  background-color:	#74cfae;
}

.message-inner{
  padding-top: 50px;
}

.message-wrapper{
  width: 90%;
  margin: 0 auto;
}

.img-iPhone{
  float: left;
}

.message-container{
  float: right;
  color: white;
  width: 680px;
  text-align: center;
}

.message_title{
  margin-bottom: 35px;
}

.message_text{
  font-size: 20px;
  line-height: 30px;
}
/*-----------------ここまでmessage---------------*/

.our-work{
  background-color: #f2f2f2;
}

.our-work-inner{
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
}

.our-work_title{
  margin-bottom: 40px;
}

.work{
  float: left;
  margin-left: 100px;
}
.work:nth-child(3n+1){
  margin-left: 0;
}
.work:nth-child(n+4){
  margin-top: 80px;
}

.work_img{
  display: inline-block;
  transition: 0.3s;
  opacity: 0.7;
}
.work_img:hover{
  opacity: 1.0;
}

.inquiry{
  margin-top: 90px;
  display: inline-block;
}

.inquiry_text{
  font-size: 20px;
  line-height: 24px;
  float: left;
  width: 570px;
  margin-right: 90px;
  opacity: 0.7;
}
/*-----------------ここまでour-work---------------*/
.our-skills{
  background-color: #4e4e4e;
}

.our-skills-inner{
  padding-top: 70px;
  padding-bottom: 100px;
  color: white;
  text-align: center;
}

.our-skills_title{
  margin-bottom: 70px;
}

/*マイルール：疑似要素との間は詰める*/
.skill{
  display: inline-block;
  margin-left: 180px;
}
.skill:first-child{
  margin-left: 0px;
}

 .skill_cap{
  margin-top: 20px;
  font-size: 16px;
}

/*-----------------ここまでour-skills---------------*/
.sns{
  text-align: center;
  background-color: #f2f2f2;
}

.sns-inner{
  padding: 200px 0px;
}
/*--
ここでtransition を指定すると、最初の読み込みを含めた全ての速度を指定してしまう・・・
～transitionについて～
このプロパティは時間的変化を指定するプロパティなのですが基本的にhoverだったりを
させた時にふわっと変えたりするときに使うと思います。
なのでhoverしたときにだけ効果を発揮してほしいものなのですが、
Chromeでページを読み込んだときにこの効果が出てしまうことがあります。
この症状は、jQueryを使って回避していきます。（ブックマーク参照）
------*/
.icon:hover{
  cursor: pointer;
  background-color: white;
}

.icon{
  transition: 0.3s;
  display: inline-block;
}

.icon_font{
  width: 185px;
  font-size: 40px;
  color: #74cfae;
  padding: 25px 0px;
}

/*---------
以下にtransitionを指定すると、「ホバー時のみ」の速さ指定になるが、
chrome以外のブラウザだと不具合が出るらしい。
--------------*/
/*-----------------ここまでsns---------------*/
.footer{
  background-color: #74cfae;
}

.footer-inner{
  padding: 20px 0px 25px 0px;
}

.copyright{
  text-align: right;
  color: white;
  font-size: 16px;
}
/*-----------------ここまでfooter---------------*/
/*-----------------ここからレスポンシブデザイン---------------*/
/*-----------------ここからタブレット------------------------*/

@media screen and (max-width: 1199px){

  .inner{
    width: 97%;
  }

  .message-inner{
    padding-bottom: 25px;
    text-align: center;
  }

  .img-iPhone{
    float: none;
    margin-bottom: 25px;
  }

  .message-container{
    float: none;
    margin: 0 auto;
    width: 90%;
  }
  /*---ここまでmessage---------*/
  .works{
    margin-bottom: 80px;
    font-size: 0;
  }
  .work{
    width: 100%;
    float: none;
    margin-left: 0px;
  }

  .work:nth-child(n+4){
    margin-top: 0px;
  }

  .work:nth-child(3n){
    margin-bottom: 80px;
  }

  .work:first-child{
    margin-top: 0px;
  }

  .work:last-child{
    margin-bottom: 0px;
  }


  .inquiry{
    margin-top: 0px;
  }

  .inquiry_text{
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .our-work-inner .contact_btn{
    float: none;
  }
  /*---ここまでour-work---------*/
  .our-skills_title{
    margin-bottom: 40px;
  }

  .skill{
    margin-left: 0px;
    margin-top: 88px;
    width: 100%;
  }

  .skill:first-child{
    margin-top: 0px;
  }
}

/*----------------------ここまでタブレット-----------------------*/
/*----------------------ここからスマートフォン-------------------*/
@media screen and (max-width: 767px){
  .header-inner .contact_btn{
    display: none;
  }

  .humberger{
    display: inline-block;
  }

  /*---ここまでheader---------*/
  .sp{
    display: inline-block;
  }
  .theme-inner{
    padding: 160px 0px 130px 0px;
    text-align: center;
  }

  .theme_title{
    font-size: 80px;
  }

  /*---ここまでthema---------*/
  .sns-inner{
    padding: 50px 0px;
  }

  .icon{
    width: 100%;
  }
  /*---ここまでsns---------*/
}

/*-----------------ここまでスマートフォン-------------------------*/
/*-----------------ここまでレスポンシブデザイン-------------------*/
